<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item {% if 'dashboard' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{% url 'home' %}">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item {% if 'teachers' in segment %} active {% endif %}">
        <a class="sidebar-link " href="{% url 'home-teachers' %}">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">O'qituvchilar</span>
        </a>
      </li>

      <li class="sidebar-item {% if 'cats' in segment %} active {% endif %}">
        <a class="sidebar-link " href="">
          <i class="align-middle" data-feather="grid"></i> <span class="align-middle">O'quv guruhlari</span>
        </a>
      </li>



    </ul>
  </div>
</nav>
